
:root {
    --font-color:#CECECE;
    --carousel-font-color:#EFEFEF;
    --bg-color:#1c1c1c;
    --font-shadow-color: var(var(--shadow-color));
    --shadow-color: rgba(54, 61, 61, 0.66);
}

.card {
    background: var(--font-color) ;
    overflow:hidden;
    border-radius: 4px;
}

.card a {
    display: block;
    height: 300px;
    overflow: hidden;
    color: var(--carousel-font-color);
    position: relative;
}

.image {
    height: 300px;
    width: 100%;
    background-size: cover;
    background-color: var(--bg-color);
}

.details {
 padding: 25px;
 top: 140px;
 position:absolute;
 width: 100%;
 filter: drop-shadow(1px 1px 3px var(--font-shadow-color))
}

.card a .pre-title, .card a .title {
    display: block;
}

.pre-title {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    padding-bottom:10px;
    font-size:12px
}

.title {
    min-width: 240px;
    height: 50px;
    border-top: 2px solid
}