@tailwind base;
@tailwind components;
@tailwind utilities;

html, 
body {
padding: 0;
margin: 0;
}

* {
    box-sizing: border-box;
}

.content-div {
    
    background-repeat: none ;
    background-size: cover;
    background-position: center;
    height: 250px;
}




.grid-col-end-1 {
    grid-column-end: span 1;
}
.grid-col-end-2 {
    grid-column-end: span 2;
}
.grid-col-end-3 {
    grid-column-end: span 3;
}
.grid-col-end-4 {
    grid-column-end: span 4;
}
.grid-col-end-5 {
    grid-column-end: span 5;
}
.grid-col-end-6 {
    grid-column-end: span 6;
}
.grid-col-end-7 {
    grid-column-end: span 7;
}
.grid-col-end-8 {
    grid-column-end: span 8;
}
.grid-col-end-9 {
    grid-column-end: span 9;
}
.grid-col-end-10 {
    grid-column-end: span 10;
}
.grid-col-end-11 {
    grid-column-end: span 11;
}
.grid-col-end-12 {
    grid-column-end: span 12;
}

@media (min-width:1024px) {
    .grid-11 {
        display: grid;
        grid-template-columns: repeat(11, 1fr);
        grid-auto-rows: min-content;
    }
}

